n8n-workflows/check-invoice.json
{
  "name": "steuerhelfer-check-invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-invoice",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ci-0001-webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "steuerhelfer-check-invoice"
    },
    {
      "parameters": {
        "jsCode": "const image = $input.first().json.body.image;\n\nif (!image) throw new Error('Missing image field in request body');\n\nconst payload = {\n  model: 'claude-sonnet-4-20250514',\n  max_tokens: 1024,\n  messages: [\n    {\n      role: 'user',\n      content: [\n        {\n          type: 'image',\n          source: {\n            type: 'base64',\n            media_type: 'image/jpeg',\n            data: image\n          }\n        },\n        {\n          type: 'text',\n          text: 'Prüfe diese Ausgangsrechnung auf die Pflichtangaben gemäß §14 UStG und antworte als JSON:\\n{ \"has_vendor_name\": true, \"has_vendor_address\": true, \"has_recipient_name\": true, \"has_recipient_address\": true, \"has_tax_number_or_uid\": true, \"has_invoice_date\": true, \"has_invoice_number\": true, \"has_service_description\": true, \"has_service_period\": true, \"has_net_amount\": true, \"has_vat_rate_and_amount\": true, \"has_gross_amount\": true, \"missing_fields\": [], \"is_compliant\": true, \"notes\": \"...\" }\\nAntworte NUR mit dem JSON-Objekt.'\n        }\n      ]\n    }\n  ]\n};\n\nreturn [{ json: { payload } }];"
      },
      "id": "ci-0002-prep",
      "name": "Prepare Claude Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "raw",
        "rawContentType": "application/json",
        "rawBody": "={{ JSON.stringify($json.payload) }}",
        "options": {}
      },
      "id": "ci-0003-claude",
      "name": "Call Claude Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "REPLACE_WITH_ANTHROPIC_CRED_ID",
          "name": "Anthropic API Key"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.content[0].text;\n\nlet compliance;\ntry {\n  compliance = JSON.parse(text);\n} catch {\n  throw new Error('Claude did not return valid JSON: ' + text.substring(0, 200));\n}\n\nreturn [{ json: compliance }];"
      },
      "id": "ci-0004-parse",
      "name": "Parse Compliance JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "ci-0005-respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{"node": "Prepare Claude Payload", "type": "main", "index": 0}]]
    },
    "Prepare Claude Payload": {
      "main": [[{"node": "Call Claude Vision", "type": "main", "index": 0}]]
    },
    "Call Claude Vision": {
      "main": [[{"node": "Parse Compliance JSON", "type": "main", "index": 0}]]
    },
    "Parse Compliance JSON": {
      "main": [[{"node": "Respond to Webhook", "type": "main", "index": 0}]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "steuerhelfer"
  },
  "tags": [{"name": "steuerhelfer"}]
}
